.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container img {
  height: 150px;
  width: 150px;
}

.title {
  font-family: "Tilt Warp", cursive;
}

.choices {
  display: flex;
  flex-direction: column;
}

.choiceBoxes {
  display: flex;
}

#playerChoiceBox,
#computerChoiceBox {
  border: solid;
  padding: 30px;
}

.score {
  margin-top: 30px;
}

.score-border {
  display: flex;
  flex-direction: row;
  padding: 0px 100px 0px;
  border: solid;
}

.playerScore {
  padding-right: 100px;
}

p {
  font-family: "Bebas Neue", cursive;
  font-size: larger;
}
